<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpardogo.android.googleprogressbar">

    <application
        android:name=".GPBApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jpardogo.android.googleprogressbar.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jpardogo.android.googleprogressbar.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="com.jpardogo.android.googleprogressbar.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jpardogo.android.googleprogressbar.MainActivity" />
        </activity>
    </application>

</manifest>
